.navbar {
    text-align: right;
}
.list-group{
    width: 20%;
}
body{
    background-color: blue;
}
.card{
    display: flex;
}
.row{
    margin-left: 10%;
    margin-top: 0%;
}
.current-weather{
    margin-left: 30%;
    margin-top: -12%;
    background-color: white;
    margin-bottom: 15%;
}
.text1{
    text-align: center;
}
header{
    text-align: center;
    color: white;
    background-color: black;
    width: 102%;
}
h3{
    margin-left: 40%;
}